* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    background-color: #E9C46A;
    
}

div {
    font-size: 14px;
}


button {
    padding: 7px 13px 7px 13px;
    margin: 15px 3px 10px 3px;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
}


body {
    text-align: center;
}